.table_container {
  margin: 20px;
  height: 123px;
}

.table_btn {
  border: 0;
  display: flex;
  align-items: center;
  height: 90px;
  width: 90px;
  position: relative;
  background: none;
  cursor: pointer;
  &:disabled {
    cursor: initial;
  }

  .tabled_order {
    position: absolute;
    color: white;
    right: 0;
    left: 0;
    margin: auto;
    width: 35px;
    height: 35px;
  }

  .table_shape {
    display: block;
    &.pentagon {
      position: absolute;
      top: 35px;
      width: 54px;
      box-sizing: content-box;
      border-width: 50px 18px 0;
      border-style: solid;
      &:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        top: -85px;
        left: -18px;
        border-width: 0 45px 35px;
        border-style: solid;
      }

      & + .tabled_order {
        left: 33px;
        margin: unset;
      }

      &.clear {
        border-color: green transparent;
        &:before {
          border-color: transparent transparent green;
        }
      }
      &.accupied {
        border-color: red transparent;
        &:before {
          border-color: transparent transparent red;
        }
      }
      &.almost-done {
        border-color: orange transparent;
        &:before {
          border-color: transparent transparent orange;
        }
      }
    }

    &.triangle-up {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 80px solid;

      & + .tabled_order {
        left: 37px;
        top: 38px;
        margin: unset;
      }

      &.clear {
        border-bottom-color: green;
      }
      &.accupied {
        border-bottom-color: red;
      }
      &.almost-done {
        border-bottom-color: orange;
      }
    }

    &.circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    &.wide_circle {
      width: 80px;
      height: 50px;
      border-radius: 30px;
    }
    &.square {
      width: 80px;
      height: 80px;
    }

    &.circle,
    &.wide_circle,
    &.square {
      &.clear {
        background-color: green;
      }
      &.accupied {
        background-color: red;
      }
      &.almost-done {
        background-color: orange;
      }
    }
  }
}
